@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@400;500;600&display=swap');

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #101121;
  --color-light: #eeeded;
  --color-secondary: #6d6fdf;
  --color-primary: #424173;
  --color-dark-200: #18182a;
}

/* Khand Font Classes */
.khand-regular {
  font-family: 'Khand', sans-serif;
  font-weight: 400;
}

.khand-medium {
  font-family: 'Khand', sans-serif;
  font-weight: 500;
}

.khand-semibold {
  font-family: 'Khand', sans-serif;
  font-weight: 600;
}

.custom-header-gradient {
  background: linear-gradient(90deg, #240091 0%, rgba(39, 34, 65, 0) 100%);
}
.custom-header2-gradient {
  background: linear-gradient(270deg, #940470 0%, #231570 51.92%, #ba0a9a 100%);
}

/* Hide all menu buttons when any menu is open */
body:has(.menu-overlay-active) #left-menu-button,
body:has(.menu-overlay-active) #right-menu-button,
body:has(.menu-overlay-active) #tokengrid-menu-button {
  opacity: 0 !important;
  pointer-events: none !important;
}

w3m-modal {
  z-index: 50;
}
