.left-gradient {
  background: linear-gradient(93.4deg, #28178b 1.34%, #2d2369 126%);
}

.top-gradient {
  background: linear-gradient(139.03deg, #170d56 14.46%, #432ccd 99.56%);
}

.custom-gradient {
  background: linear-gradient(220.07deg, #5134ce 21.91%, #1b1f60 49.13%);
}

.green-gradient {
  background: linear-gradient(270deg, #047c60 3.37%, #2b923e 100%);
}

.line1-gradient {
  background: linear-gradient(
    270deg,
    #0ce0cf 21.29%,
    #04587c 47.67%,
    #074ba3 70.19%
  );
}

.line2-gradient {
  background: linear-gradient(
    270deg,
    #ffd42a 20.21%,
    #f92c9d 58.17%,
    #6d11b3 88.65%
  );
}
